extends ../layout/common.pug
block content
  .container.mt-2
    h2.mb-4.d-flex.justify-content-center Thêm sách
    form(action="/books/create", method="POST")
      .form-group.row
        lable(for="book", class="col-sm-2 col-form-label") Tiêu đề
        .col-sm-10
          input#book(type='text', name="title", class="form-control")
      .form-group.row
        lable(for="mota", class="col-sm-2 col-form-label") Mô tả
        .col-sm-10
          input#mota(type='text', name="description", class="form-control")
      button(type="submit", class="btn btn-primary mr-3") Tạo
      a(href="/books", class="btn btn-secondary btn-md", role="button", aria-pressed="true") Hủy

