extends ../layout/common.pug
block content
  .container.mt-2
    h2.mb-4.d-flex.justify-content-center Cập nhật
    
    if errors
      each error in errors
        .alert.alert-danger= error        
    
    form(method="POST")
      .form-group.row
        lable(for="book", class="col-sm-2 col-form-label") Tiêu đề
        .col-sm-10
          input#book(type='text', name="title", class="form-control",   value = book ? book.title : values.title)
      
      button(type="submit", class="btn btn-primary mr-3") Sửa
      a(href="/books", class="btn btn-secondary btn-md", role="button", aria-pressed="true") Hủy
  