extends ../layout/common.pug
block content
  h2 Cập nhật
  form(method="POST")
    lable(for="book") Tiêu đề
    span &nbsp
    input#book(type='text', name="title", value= book.title)
    button Sửa
  