h2 Danh sách 
a(href="/books/create") Thêm
br
br
form(action="/books/sreach", method="GET")
  input(type="text", name='q')
  span &nbsp
  button Tìm
table(style='width:100%')
  tr
    th Tên
    th Action
  each book in books
    tr    
      td=book.title
      td
        a(href="/books/" + book.id) Chi tiết
      td
        a(href="/books/" + book.id + "/edit") Sửa
      td
        a(href="/books/" + book.id + "/delete") Xóa
