h2 Danh sách 
a(href="/books/create") Thêm
table(style='width:100%')
  tr
    th Tên
    th Action
  each book in books
    tr    
      td=book.title
      td
        a(href="#") Sửa
      td
        a(href="#") Xóa
