h2 List books
ul
  each book in books
    li
      span=book.title
      span &nbsp
      a(href="#") Sửa
      span &nbsp
      a(href="#") Xóa
      
table(style='width:100%')
  tr()
    th Tên
    th Action
  tr
    td Jill
    td Smith
    td 50
  tr
    td Eve
    td Jackson
    td 94
      