extends ../layout/common.pug
block content
  .div
    .d-flex.justify-content-between
      h2.mb-4 Danh sách
      if isAdmin
        a.h-25(href='/books/create', class="btn btn-primary btn-md", role="button", aria-pressed="true") Thêm mới
    
    .table-responsive
      table.table.table-hover
        thead.thead-light
          tr
            th Tên
            th(colspan="3") Action
        tbody    
          each book in books
            tr    
              td=book.title
              if isAdmin
                td 
                  a.btn.btn-light(href="/books/" + book.id) Chi tiết
                td
                  a.btn.btn-light(href="/books/" + book.id + "/edit") Sửa
                td
                  a.btn.btn-light(href="/books/" + book.id + "/delete") Xóa
              if !isAdmin
                td 
                  a.btn.btn-light(href="/books/" + book.id) Chi tiết
    .row
      each book in books
        .col-sm-6.col-md-4.col-lg-3
          .card.mb-3(style='width: 250px')
            img.card-img-top.m-1(style='width: 180px',src=book.coverUrl ? book.coverUrl : 'https://i.ya-webdesign.com/images/default-avatar-png-6.png',alt='Book-image')
            .card-body
              h5.card-title(style="height: 48px !important")=book.title
              p.card-text                  
                .text-truncate
                  span=book.description                
                               
              a.btn.btn-primary(href='#') Thêm vào giỏ
              if isAdmin 
                  a.btn.btn-primary.m-1(href="/books/" + book.id) Chi tiết
                  a.btn.btn-primary(href="/books/" + book.id + "/edit") Sửa                
                  a.btn.btn-primary(href="/books/" + book.id + "/delete") Xóa
              if !isAdmin                 
                  a.btn.btn-primary(href="/books/" + book.id) Chi tiết

                  
    a(href="/") Home