extends ../layout/common.pug
block content
  .container.mt-2
    .d-flex
      h4 Quyển sách:
      h4(class="text-info")=book.title
    h4 Nội dung:
    p(class='font-weight-light ')=book.description 
    a(href="/books") Quay lại  
