extends ../layout/common.pug
block content
  .container.mt-2
    h2.mb-4.d-flex.justify-content-center Thông tin chi tiêt
    .d-flex.mb-2
      h4 Quyển sách:
      h4(class="text-info ml-2")=book.title
    
    h4 Nội dung:
    p(class='font-weight-light ')=book.description 
    a(href="/books") Quay lại  
