extends ../layout/common.pug
block content
  .container.mt-2
    .d-flex
      h4 Quyển sách:
      span &nbsp
      h4(class="text-info")=book.title
    .d-flex
      h4 Nội dung:
      b=book.description 
    a(href="/books") Quay lại  
