extends ../layout/common.pug

block content
  .container.d-flex.flex-column.align-items-center
    h1.text-center Cập nhật ảnh đại diện
    .div.m-3
      img(style="width=100px; height: inherit", id='avatar' src=auth.avatar ? auth.avatar : 'https://i.ya-webdesign.com/images/default-avatar-png-6.png', alt="Avatar")
    form(action="", method="post", enctype="multipart/form-data")
      if error
        .alert.alert-danger #{error}
      .form-group
        .input-group.mb-3
          .input-group-prepend
            .input-group-text Upload
          .custom-file
            input.custom-file-input(type="file" id="avatar-input" aria-describedby="inputGroupFileAddon01" name='avatar')
            label.custom-file-label(for="avatar-input" id='avatar-label') Choose file
      .d-flex.justify-content-center.align-items-center   
        button.btn.btn-primary upload
  script(src="/javascript/custom.js")