extends ./layout/common.pug

block content
  link(rel="stylesheet", href="/style.css")
  header
    h1 Library bookstore
  main
      h2 Xin chào,
      p Cùng tham quan thư viện của tôi nhá ( ᵔ ᴥ ᵔ )
      div Danh sách cuốn sách hay: 
        a(href="/books") Tại đây
      div Danh sách người dùng: 
        a(href="/users") Tại đây
      div Danh sách người thuê sách:
        a(href="/transactions") Tại đây
block footer
  footer.d-flex.justify-content-center
    span Made with
    span &nbsp
    b Quoc Viet!