.icon-user {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid #f2f2f2
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 10px 0
}

.cart {
  position: relative;
}
.count {
  position: absolute;
  top: 10px;
  left: 20px;
}

