extends ../layout/common.pug

block content        
        if shop
            a(href=`/shops/manageShop/${user.id}`) Quản lý shop
            h2= `Chào bạn đến với ${shop.name}`
            .table-responsive
                table.table.table-hover(style='width:100%').mt-2
                    thead.thead-light
                        tr
                            th STT
                            th Book
                            th action
                    tbody
                        - let count = 0;  
                        - listBooks = shop.listBook
                        each book in listBooks
                            tr
                                td= count+=1
                                td= Books.find(x => x.id === book.idBook).title
                                td
                                    a.btn.btn-light(href="#") add
        else  
            .d-flex.justify-content-center
                h3 Bạn chưa có shop nào
                a.btn.btn-priamry(href="/shops") Tạo shop                           