extends ../layout/common.pug
block content
  .container
    .d-flex.justify-content-center.align-items-center
      h1.text-center Giỏ hàng
      a.ml-3.btn.btn-light.text-info(href='/books/') Xem sách
    if notifi
      each i in notifi
        .alert.alert-danger= i
    .d-flex.justify-content-center.align-items-center
          a.btn.btn-primary(href='/cart/addCart') Thuê sách
          
    .row
      if books
        each book in books   
          if cart
            each d in cart.cart 
              if(d.bookId == book._id)
                .col-12.col-xl-3.col-md-4.col-sm-6.my-2
                  .card
                    img.card-img-top(src=book.coverUrl ? book.coverUrl : 'https://icons.iconarchive.com/icons/thalita-torres/office/512/school-book-icon.png')
                    .card-body
                      p.text-center.card-text=book.title
          else
            p Không có sản phẩm nào
                    
    