h2 Cập nhật thông tin
form(method="POST")
  lable(for="user") Họ tên
  span &nbsp
  input#user(type='text', name="name", value= user.name)
  lable(for="age") Tuổi
  span &nbsp
  input#age(type='text', name="age", value= user.age)
  button Sửa
  