extends ../layout/common.pug
block content
  .container.mt-2
    .d-flex.justify-content-between
      h2.mb-4 Danh sách user
      if isAdmin
        a.h-25(href='/users/create', class="btn btn-primary btn-md", role="button", aria-pressed="true") Thêm mới
    .table-responsive
      table.table.table-hover
        thead.thead-light
          tr
            th Tên
            th(colspan="3") Action
        tbody   
        each user in listUser
          tr    
            td=user.name
            if isAdmin
              td
                a.btn.btn-light(href="/users/" + user.id) Chi tiết
              td
                a.btn.btn-light(href="/users/" + user.id + "/edit") Sửa
              td
                a.btn.btn-light(href="/users/" + user.id + "/delete") Xóa
            if !isAdmin
              td
                a.btn.btn-light(href="/users/" + user.id) Chi tiết
    
    nav(aria-label='Page navigation example')
          ul.pagination.justify-content-end#myNavi
            - let index = 1;
              li(class=`page-item ${ pageCurrent === NaN ||page_Current === 0 || page_Current === 1 || pageSize === 1 ? 'disabled' : '' }`)
                a.page-link.previous(href='#', aria-label='Previous')
                  span(aria-hidden='true') &laquo;
              - for (index ; index <= paginationSize; index++)
                li.page-item.item(value = index)
                  a.page-link(href="/users/" + '?page=' + index )= index
              li(class=`page-item ${page_Current === pageSize || pageSize === 1 ? 'disabled' : '' }`)
                a.page-link.next(href='/users/'+ '?page=', aria-label='Next')
                  span(aria-hidden='true') &raquo;

  script.
        // get index navigation 
        let href = document.location.href;
        let pageNum = parseInt(href.slice(-1));
        pageNum === NaN || pageNum === 1 ? pageNum=1 : pageNum;
        let lis = document.getElementsByClassName('item');
        for(let j = 0; j< lis.length; j++) {
            let li1 = lis[j];
            let vl = parseInt(li1.getAttribute('value'));
            if(vl === pageNum){
                li1.classList.add("active")
            }
        }

        // next page
        let next = document.getElementsByClassName('next');
        // change attribute href next 
        next[0].setAttribute("href", "/users?page=" + (pageNum+1))

        // previous page
        let previous = document.getElementsByClassName("previous");
        // change attribute href previous
        previous[0].setAttribute("href", "/users?page=" + (pageNum-1))
    
    a(href="/") Home