h2 Thuê sách
a(href="/transactions/create") Thuê mới

table(style='width:100%')
  ul
    tr
      th Người thuê
      th DS sách    
    
    tr      
      each user in users
        tr
          td=user.name
          td
            each book in books
              li= book.title
          each tran in transactions    
            td  
              a(href="/transactions/" + tran.id + "/complete")= tran.isComplete ? "Hoàn thành" : "Đang mượn"
br
a(href="/") Home