h2 Thuê sách
a(href="/transactions/create") Thuê mới

table(style='width:100%')
  tr
    th Người thuê
    th DS sách
  each transaction in transactions
    tr
      td=transaction.userId ?  transaction.userId : ''
    tr
      td= transaction.bookId ? transaction.bookId : ''