h2 Thuê sách
a(href="/transactions/create") Thuê mới

table(style='width:100%')
  tr
    th Người thuê
    th DS sách    
  tr
    each user in users
      tr
        td=user.name
        each book in books
          td
            ul
              li= book.title  
a(href="/") Home